body,
html {
  height: 100%;
  margin: 0;
  background-color: #fffad7;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  flex-direction: column;
  text-align: center;
}

.chart-container {
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.detail-tooltip {
  background-color: #ffe4a7;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  text-align: start;
}

.crossword-cell {
  width: 20px;
  height: 20px;
  background-color: white;
  outline: 1px solid rgba(144, 175, 175, 0.75);
  text-align: center;
}

.crossword-row {
  display: flex;
}

.solved-crossword {
  margin: 10px;
}

.dot:hover {
  fill: white;
  stroke: #ff90bb;
  stroke-width: 0.2em;
  cursor: pointer;
}

h1 {
  color: #ff90bb;
}

.date-range-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 50px;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

.dash {
  margin: 10px;
}

.top-panel {
  align-items: flex-start;
  margin: 30px;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.agg-stats {
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.side-container {
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-right: 80px;
}

.type-toggles {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

button {
  font-size: 14px;
  padding: 10px;
  border: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.add-token-form {
  flex-direction: column;
  display: flex;
  font-size: 16px;
  padding: 8px;
  margin-left: 20px;
}

input {
  font-size: 16px;
  margin: 4px;
  outline: none;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;
  background-color: transparent;
}

.legend {
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
